# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
*.pkl

__pycache__/
.pytest_cache/

# Environments
.env
.venv/
venv/
env/
ENV/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# System
.DS_Store
Thumbs.db