__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
*.pkl

.pytest_cache/

.env
.venv/
venv/
env/
ENV/

.ipynb_checkpoints/

*.log

.DS_Store
Thumbs.db

vectorstores/**
!vectorstores/**/.gitkeep

runs/**
!runs/.gitkeep

outputs/**
!outputs/.gitkeep

memory/**
!memory/.gitkeep

*.pyc